{% extends 'core/base.html' %}
{% load static %}

{% block body %}
<div class='container'>
    <div class='row align-items-center'>
        <div class="col">
            <img src="{% static 'core/img/logo-ikea.png' %}" alt="logo-ikea">
        </div>
        <div class="col">
            <img src="{% static 'core/img/logo-inflow.png' %}" alt="logo-ikea">
        </div>
    </div>
    <div class="row align-items-center">
        <a href="{% url 'manana:outs' %}" role="button" class="btn btn-primary btn-lg my-2">Mañanas</a>
        <a href="{% url 'manana:outs' %}" role="button" class="btn btn-primary btn-lg my-2 disabled">Tardes</a>
        <a href="{% url 'manana:outs' %}" role="button" class="btn btn-primary btn-lg my-2 disabled">Noches</a>
        <a href="{% url 'manana:outs' %}" role="button" class="btn btn-primary btn-lg my-2 disabled">General</a>
    </div>
</div>
    
{% endblock body %}
